ModBusEtherMon - Универсальный Монитор ModBus по Ethernet на Node.js

I. Основные компоненты системы:
   ├── backend/
   │   ├── src/              # Источники
   │   │   ├── modbus/        # Модуль работы с ModBus
   │   │   ├── api/           # RESTful API
   │   │   ├── auth/          # Авторизация
   │   │   └── config/        # Конфигурации
   │   ├── public/            # Публичные файлы для веб-сервера
   │   └── package.json       # Установочный файл
   └── frontend/
       ├── src/             # Исходники клиентской части на vue
       ├── public/          # Статические файлы
       └── index.html       # Главный HTML-файл

  Система хранения:
   ├── archives/
      ├── YYYY-MM-DD.json  # Дневные JSON-архивы текущих значений
      └── Zip/             # Месячные ZIP файлы с архивами
      └── YYYYMM.zip
   └── configs/              # Конфигурации
      ├── devices.json       # Настройки ModBus-устройств
      ├── schedule.json      # Периодичность опроса
      └── permissions.json   # Права доступа пользователей

II. Файлы документации:
   ├── docs/
      ├── config/           # Конфигурация
      ├── usage/            # Использование
      └── api/              # API-документация

II. Модули:
   A. Сервер ModBus TCP/IP
      │
   B. Система хранения архивов
      │
   C. Веб-интерфейс
      │
   D. Логирование
      |
   E. Конфигурирование опроса устройств

III. Основные функции:

1. Конфигурация:
   ├── Настройка ModBus-устройств
   ├── Настройка периодичности опроса
   └── Настройка параметров архивации

2. Мониторинг:
   ├── Получение данных от ModBus-устройств
   ├── Визуализация текущих значений
   └── Визуализация исторических данных

3. Архивация:
   ├── JSON файлы
   └── ZIP/*.zip архивирование старых файлов

4. Анализ данных:
   ├── Статистика по параметрам
   └── Репорты в XLS формате

5. Безопасность:
   ├── Авторизация пользователей
   └── Конфигурация доступа к данным

IV. Технологии:

Backend:
   ├── Node.js v16+
   ├── Express.js
   └── ModBusTCP library for Modbus TCP and Modbus over TCP-IP (https://www.npmjs.com/package/modbus-serial/v/8.0.20-no-serial-port)

Frontend:
   └── JavaScript + css + html

V. Установка:
   1. Клонирование репозитория
   2. Установка зависимостей
   3. Конфигурация ModBus-устройств
   4. Запуск сервера

VI. API:

/ - Главный API эндпойнт
/api/auth - Авторизация
/api/current - Текущие данные
/api/history - Исторические данные
/api/devices - Управление настройками подключения к устройствам (добавление, изменение, удаление)
/api/reports - Генерация отчетов

VII. Файлы README:
   └── README.md
